@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500;8..144,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffdef9 !important;
  text-align: center !important;
  text-align: center !important;
}
body h1 {
  font-family: "Russo One", sans-serif;
  color: rgb(201, 131, 131);
  margin-left: 0%;
  margin-bottom: 1%;
  font-size: 3rem;
}
body p {
  color: rgb(201, 131, 131);
  font-size: 2rem;
}
body h2 {
  color: rgb(201, 131, 131);
  margin-left: 11%;
  margin-bottom: 5%;
  margin-top: 1%;
  font-size: 2rem;
}

footer {
  transition: 1.2s;
}
footer:hover {
  color: rgb(231, 167, 167);
}
footer img {
  padding: 0px 39px 0px 29px;
}

.img-footer:hover {
  transform: scale(1.5);
}

.footer-texto {
  color: rgb(231, 167, 167);
  margin-top: 1%;
  margin-bottom: 3%;
  font-family: "Russo One", sans-serif;
}

nav ul a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  color: #ffdef9 !important;
}
nav ul li {
  display: inline-block;
  width: 10% !important;
  padding: 13px 43px !important;
  background-color: rgb(231, 167, 167);
  text-align: center !important;
  text-transform: uppercase;
}
nav ul li:hover {
  background-color: #BC8F8F;
  color: rgb(201, 131, 131) !important;
  transition-property: all;
  transition-duration: 0.7s;
  cursor: pointer;
}

li:hover {
  transform: scale(1.2);
}

#grilla-index {
  display: grid;
  grid-template-areas: "header         header     " "encabezado     encabezado " "izquierda      derecha    " "izquierda      derecha    " "izquierda      derecha    " "textoAbajo     textoAbajo " "pieDePagina    pieDePagina";
  grid-template-rows: auto;
  grid-template-columns: 2, 1fr;
}

header {
  grid-area: header;
  background: rgb(231, 167, 167);
  justify-self: stretch;
  margin-bottom: 3%;
}

#section-text {
  grid-area: encabezado;
  background: pink;
  border-bottom: 2px solid rosybrown;
  margin-bottom: 3%;
}

#section-izquierda {
  grid-area: izquierda;
  background: #ffdef9;
}

#section-derecha {
  grid-area: derecha;
  background: #ffdef9;
  justify-self: center;
}

#section-text-dos {
  grid-area: textoAbajo;
  background: pink;
  border-top: 2px solid rosybrown;
  border-bottom: 2px solid rosybrown;
  margin-bottom: 5%;
}

footer {
  grid-area: pieDePagina;
  background: #BC8F8F;
}

/**GRILLA DE  PRODUCTOS**/
#articulos-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 2rem;
}

@media (min-width: 768) {
  #articulos-conteiner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 480) {
  #articulos-conteiner {
    grid-template-columns: 3, 1fr;
  }
}
.parrafo-respuesta {
  margin: 0px 262px 52px 399px;
  font-size: 1rem;
  color: rgb(201, 131, 131);
}
.parrafo-respuesta:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 1s;
}

.imag-izq-inicio {
  height: 88%;
  width: 94%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-derecha-inicio {
  height: 25%;
  width: 82%;
  margin: 1%;
  padding: 2%;
}

.texto-p-inicio {
  padding: 0px 259px 23px 249px;
  font-size: 156%;
}

.titulo-productos {
  margin: 35px 415px 53px 351px;
}

.text-oferta {
  text-align: left;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-family: "Russo One", sans-serif;
  color: rgb(143, 73, 73);
  color: palevioletred;
}

.text-stock {
  text-align: left;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-family: "Russo One", sans-serif;
  color: rgb(143, 73, 73);
  color: rgb(143, 73, 73);
}

.articulos img {
  padding: 18px;
  border-radius: 6%;
  width: 97%;
  height: 72%;
}
.articulos img:hover {
  transform: scale(1.1);
}
.articulos--oferta img {
  border-bottom: 10px solid palevioletred;
}
.articulos--stock img {
  border-bottom: 10px solid rgb(143, 73, 73);
}

.articulos-carrito {
  width: 97%;
  height: 72%;
}

section p {
  font-size: 23px;
}/*# sourceMappingURL=style.css.map */