footer{    transition: background 1.2s;

          div{
            p{

            
             .footer-texto{
                 color: $secundario;
                 margin-top: 1%;
                 margin-bottom: 3%;
                 font-family: 'Russo One', sans-serif;
             
            
           img { 
             padding: 0px 10px 0px 34px;


                 .img-footer{
                    transform: scale(1.5);
                 }
             }
        }


 }
}
}

footer:hover {
    background:rgb(231, 167, 167);
   
     }
   
