nav{
  
    ul{

   


           li{
    display:inline-block;
    width:10%;
    padding: 13px 43px;
    padding: 13px 43px !important ; 
    background-color:rgb(252, 200, 200);
    text-align:center;
    text-transform: uppercase;


      li:hover{

        background-color:#ffdef9;
       
        color:rgb(255, 179, 179) !important;
      transition-property: all;
        transition-duration: 0.7s;
    



     a{
        text-decoration:none;
        color:inherit;
        font-size:14px;
    
   






     }

    }

   }
 
}
 }


