.titulo-productos{
	margin: 35px 415px 53px 351px;
	}


    .text-oferta{
        @include textosolid(palevioletred);
     
    }
    .text-stock{
        @include textosolid;
  
    }




   .articulos{
       img{
        padding: 18px;
        border-radius: 6%;
          @include tamaño; 
   
    &:hover{
    transform: scale(1.1);} 
    }
    

    &--oferta{
    
        img{
            @include textosolid(palevioletred);
        }
    }
    &--stock{
        img{
         @include textosolid;
        }
       
    }

}


    .articulos-carrito{
        @include tamaño; 
    }
    


    section{
        p{
            font-size: 23px;
        }
    }
